---
import Main from '../../layouts/main.astro';


const isVowelSound = (word: string): boolean => {
    const vowels = ['a', 'e', 'i', 'o', 'u'];
    return vowels.includes(word.charAt(0).toLowerCase());
}

type pc = {
    name: string;
    link?: string;
    newPage: boolean;
    race: string;
    class: string;
};

const pcs: pc[] = [
    {
        name: 'HerbAxe',
        link: 'https://www.dndbeyond.com/characters/79800928',
        newPage: true,
        race: 'Wood Elf',
        class: 'Druid'
    }, {
        name: 'Erxalim Ahlai',
        link: 'https://www.dndbeyond.com/characters/79791536',
        newPage: true,
        race: 'High Elf',
        class: 'Rogue'
    }, {
        name: 'Ebira Zweilous',
        link: 'https://www.dndbeyond.com/characters/79791761',
        newPage: true,
        race: 'Tiefling',
        class: 'Paladin'
    }
];

type npc = {
    name: string;
    race: string;
    affiliation?: string;
    description?: string;
}

const npcs: npc[] = [
    {
        name: 'Gundren Rockseeker',
        race: 'Dwarf',
        description: 'An explorer and miner, knows all three PCs.'
    },
    {
        name: 'Boblin',
        race: 'Goblin',
        description: 'A goblin we captured. He helped us go in the cave.'
    }
]
---

<Main title="Sam's DnD | Witcher 2022 Campaign">
    <h1>Phandelver 2022 Campaign</h1>

    <h3><a href='/phandelver-2022/session-notes'>Session notes</a></h3>
    <h3><a href='/phandelver-2022/herbaxe-notebook'>Herbaxe's Notebook of New Words</a></h3>

    <h2>PCs</h2>
    <ol>
        {pcs.map(
            c => <li>
                {c.link
                    ? <a
                        href={c.link}
                        target={c.newPage ? '_blank' : '_self'}
                        rel={c.newPage ? 'noreferrer' : ''}
                    >
                        {c.name}
                    </a>
                    : c.name
                }, {isVowelSound(c.race || c.class) ? 'an' : 'a'} <span>{c.race} {c.class}</span>
            </li>
        )}
    </ol>
    
    {npcs.length > 0 &&
        <h2>NPCs</h2>
        <ol>
            {npcs.map(
                c => <li>
                    {c.name}, a {c.race} {!!c.affiliation && `(${c.affiliation})`} {!!c.description && <>
                    :<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{c.description}
                    </>}
                </li>
            )}
        </ol>
    }
</Main>
