---
import Main from '../../layouts/main.astro';


const isVowelSound = (word: string): boolean => {
    const vowels = ['a', 'e', 'i', 'o', 'u'];
    return vowels.includes(word.charAt(0).toLowerCase());
}

type pc = {
    name: string;
    link?: string;
    newPage: boolean;
    race: string;
    class: string;
};

const pcs: pc[] = [
    {
        name: 'Eseld the Faithful of Vengerburg',
        link: 'https://www.dndbeyond.com/characters/76557808',
        newPage: true,
        race: 'Half-elf',
        class: 'Cleric'
    },
    {
        name: 'Dhaniya the Wolf',
        link: '/witcher-2022/dhaniya-the-wolf',
        newPage: false,
        race: 'big',
        class: 'dog'
    },
    {
        name: 'Nimrod Tiberius, Bishop of Saint Alibe',
        link: 'https://www.dndbeyond.com/characters/64815245/JR6ixL',
        newPage: true,
        race: 'Werewolf',
        class: 'Paladin'
    },
    {
        name: 'Quartzite',
        link: 'https://www.dndbeyond.com/characters/77530682',
        newPage: true,
        race: 'Eldarin',
        class: 'Warlock'
    },
    {
        name: 'Eregon',
        newPage: true,
        race: '',
        class: 'Witcher'
    },
    {
        name: 'Okami',
        newPage: true,
        race: '',
        class: 'Witcher'
    },
];

type npc = {
    name: string;
    race: string;
    affiliation?: string;
    description?: string;
}

const npcs: npc[] = [
    {
        name: 'Hulil',
        race: 'Dwarf',
        affiliation: "Scoia'tael",
        description: "Tulgi's sister"
    },
]
---

<Main title="Sam's DnD | Witcher 2022 Campaign">
    <h1>Witcher 2022 Campaign</h1>

    <h3><a href='/witcher-2022/session-notes'>Session notes</a></h3>

    <h2>PCs</h2>
    <ol>
        {pcs.map(
            c => <li>
                {c.link
                    ? <a
                        href={c.link}
                        target={c.newPage ? '_blank' : '_self'}
                        rel={c.newPage ? 'noreferrer' : ''}
                    >
                        {c.name}
                    </a>
                    : c.name
                }, {isVowelSound(c.race || c.class) ? 'an' : 'a'} <span>{c.race} {c.class}</span>
            </li>
        )}
    </ol>
    
    <h2>NPCs</h2>
    <ol>
        {npcs.map(
            c => <li>
                {c.name}, a {c.race} {!!c.affiliation && `(${c.affiliation})`} {!!c.description && <>
                :<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{c.description}
                </>}
            </li>
        )}
    </ol>
    
</Main>
